<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>OWB Sentiment Analyser</title>
  </head>

  <body>
    <header>
      <div class="logo">Sentiment Analyser</div>
      <div class="nav">
        <ul>
          <li><a href="#">Home</a></li>
        </ul>
      </div>
    </header>

    <main>
      <section class="form">
        <form class="" onsubmit="return handleSubmit(event)">
          <input id="name" type="text" name="input" value="" placeholder="Url to analyse" />
          <input type="submit" name="" value="Review" onclick="return Client.handleSubmit(event)" onsubmit="return handleSubmit(event)" />
        </form>
      </section>

      <section id="results">
        <div class="results">
          <div class="results-header">
            <strong>Submitted Article Results:</strong>
          </div>
          <div class="results-output">
            <p class="score">Score: <span></span></p>
            <p class="agreement">Agreement: <span></span></p>
            <p class="subjectivity">Subjectivity: <span></span></p>
            <p class="confidence">Confidence: <span></span></p>
            <p class="irony">Irony: <span></span></p>
          </div>
        </div>
      </section>
    </main>

    <footer>
      <p>Sentiment Anaylser by Oliver Berry</p>
      <p>Utilising the <a href="https://www.meaningcloud.com/developer/sentiment-analysis" target="_blank">Meaning Cloud API</a> | Background photo by <a href="https://unsplash.com/@kvncnls?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Kevin Canlas</a> on <a href="/s/photos/javascript?utm_source=unsplash&utm_medium=referral&utm_content=creditCopyText">Unsplash</a></p>
    </footer>
  </body>
</html>
